// 功能色
$primary-color: #669eff;
$third-primary-color: #8fb8ff;
$fourth-primary-color: #c8deff;
$fifth-primary-color: #ecf3fe;

$error-color: #ff5735;
$second-error-color: #ff7d5f;
$third-error-color: #fead9b;
$fourth-error-color: #ffd7ce;

$warning-color: #ffa600;
$second-warning-color: #ffb51f;
$third-warning-color: #ffd379;
$fourth-warning-color: #ffecc6;

$success-color: #18b681;
$second-success-color: #30bd82;
$third-success-color: #6ed0a7;
$fourth-success-color: #ace5cd;

// 字体颜色
$error-text: #ee2223;
$link-text: #588ce9;
$info-text: #ccc;
$diabled-text: #999;
$assist-text: #666;
$standard-text: #333;
$bold-text: #333;
$title-text:  #333;

// 次要功能色
$white-color: #ffffff;
$box-shadow-shallow: rgba(0,0,0,.04);
$box-shadow-deep: rgba(0,0,0,.12);

// 中性色
$unedit-color: #f7f7f7;
$table-divide-color: #f0f0f0;
$input-border-color: #d9d9d9;
$shadow-color: rgba(0, 0, 0, 0.5);
$tag-color: #f7f9fd;
$table-hover-color: #edf1f7;
$scrollbar-thunk-color: #cdd9e6;
$scrollbar-thumb-color: #b0c0d0;
$tag-border-color: #adb4bc;
$tag-hover-border-color: #adb4bc;
$background-color: #e4e8f1;
$table-header-color: #505766;