// hui-ui 蓝色系主题

/* 品牌色 */
$color-brand: #50BFFF !default;
$color-brand-light: #50BFFF !default;
$color-brand-dark: #588CE9 !default;

/* 辅助色 */
$color-info: #50BFFF !default;
$color-error: #FF5753 !default;
$color-warning: #FFA600 !default;
$color-success: #18B681 !default;

/* 文本颜色 */
$color-text-base: #333;
$color-text-title: #333; // 文章标题

/* 边框颜色 */
$color-border-base: #DADADA;