@import '../variables/variables.scss';

$color-breadcrumb-seperator: #bfcbd9 !default;

.hui-breadcrumb {
  line-height: 1;
  &::after {
    display: table;
    content: "";
  }
}

.hui-breadcrumb-item {
    float: left;
    cursor: pointer;
    &__wrap {
        transition: color .15s linear;
        color: $color-grey-1;
        &:hover {
          color: $color-brand;
        }
    }
    &__seperator {
        margin: 0 8px;
        color: $color-breadcrumb-seperator;
    }
    &.is-highlight &__wrap{
      color: $color-brand;
    }
    &:nth-last-of-type(1) &__seperator {
      display: none;
    }
  }