@import '../variables/variables.scss';

.hui-card {
  border: 1px solid $color-button-border;
  border-radius: 4px;
  background-color: $color-white;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
  &__header {
    padding: 18px 20px;
    border-bottom: 1px solid $color-button-border;
    box-sizing: border-box;
  }
  &__content {
    padding: 20px;
  }
}