@import '../state/animate.scss';
@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.hui-menu {
  position: relative;
  border-radius: 2px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: $color-light-gray;
  &::after, &::before {
    display: table;
    content: "";
  }
  &--dark {
    background-color: $color-dark-gray;
    .hui-submenu {
      .hui-menu {
        background-color: $color-text-secondary;
        &__item:hover {
          background-color: $color-light-gray;
        }
      }
    }
  }
  &__item {
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    color: $color-grey-0;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    transition: border-color .3s,background-color .3s,color .3s;
    box-sizing: border-box;
    white-space: nowrap;
    &:hover {
      background-color: $color-button-border;
    }
    &.is-active {
      color: $color-brand;
    }
    &:first-of-type(1) {
      margin-left: 0;
    }
    .hui-submenu__title {
      height: 56px;
      line-height: 56px;
      font-size: 14px;
      color: $color-grey-0;
      padding: 0 20px;
      cursor: pointer;
      position: relative;
      transition: border-color .3s,background-color .3s,color .3s;
      box-sizing: border-box;
      white-space: nowrap;
    }
  }
  &--horizontal {
    .hui-menu__item {
      float: left;
      height: 60px;
      line-height: 60px;
      margin: 0;
      cursor: pointer;
      position: relative;
      box-sizing: border-box;
      @include onepx-line(bottom, transparent, 1px);
    }
    .hui-submenu {
      float: left;
      position: relative;
      &:hover {
        .hui-submenu__title {
          @include onepx-line(bottom, $color-brand, 5px);
        }
      }
      .hui-submenu__title {
        height: 60px;
        line-height: 60px;
        @include onepx-line(bottom, transparent, 1px);
        &.is-active {
          @include onepx-line(bottom, $color-brand, 5px);
        }
      }
      .hui-submenu__icon {
        font-size: 12px;
        position: static;
        vertical-align: middle;
        margin-left: 5px;
        color: $color-grey-3;
        margin-top: -3px;
        transition: all 0.3s linear;
      }
      & > .hui-menu {
        position: absolute;
        top: 65px;
        left: 0px;
        border: 1px solid $color-button-border;
        padding: 5px 0;
        background-color: $color-white;
        z-index: 100;
        min-width: 100%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
      }
      .hui-menu__item:hover {
        background-color: $color-button-border;
      }
    }
  }
  li {
    list-style: none;
  }
  &-item-group {
    &__title {
      padding-top: 15px;
      line-height: normal;
      font-size: 14px;
      padding-left: 20px;
      color: $color-grey-3;
    }
  }
}

.hui-submenu {
  &__title {
    position: relative;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    color: $color-grey-0;
    padding: 0 20px;
    cursor: pointer;
    transition: border-color .3s,background-color .3s,color .3s;
    box-sizing: border-box;
    white-space: nowrap;
    &.is-active {
      @include onepx-line(bottom, $color-brand, 5px);
    }
    &:hover {
      background-color: $color-button-border;
    }
  }
  .hui-menu {
    background-color: $color-grey-5;
  }
  .hui-menu__item {
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    min-width: 200px;
    &:hover {
      background-color: $color-button-border;
    }
  }
  &.is-opened > .hui-submenu__title .hui-submenu__icon {
    transform: rotateZ(180deg);
  }
}