@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.hui-notification {
  width: 330px;
  padding: 20px;
  position: fixed;
  right: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation-duration: 0.5s;
  animation-fill-mode: both;
  background-color: $color-white;
  overflow: hidden;
  z-index: 10000;
  &__enter {
    animation-name: no-enter;
  }
  &__leave {
    animation-name: no-leave;
  }
  &__icon {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
  }
  &__group {
    display: inline-block;
    margin-left: 0px;
    &.is-with-icon {
      margin-left: 10px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    color: $color-text-base;
    margin: 0;
  }
  &__content {
    font-size: 14px;
    line-height: 21px;
    margin: 10px 0 0;
    color: $color-text-third;
    text-align: justify;
  }
  &__close {
    position: absolute;
    top: 4px;
    right: 4px;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: $color-brand;
    }
  }
}

@keyframes no-enter {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes no-leave {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}