.hui-checkbox {
  display: inline-block;
  position: relative;
  &__inner {
    top: 4px;
    margin-right: 4px;
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    &.is-checked {
      background-color: #50bfff;
      border-color: #50bfff;
      &::after {
        transform: rotate(45deg) scale(1);
      }
    }
    &.is-indeterminate {
      background-color: #50bfff;
      border-color: #50bfff;
      &::after {
        transform: scale(1) !important;
      }
    }
    &.is-indeterminate::after {
        content: '';
        position: absolute;
        top: 7px;
        width: 10px;
        height: 1px;
        left: 2px;
        background-color: #fff;
        transform: scale(0);
        transform-origin: center;
        transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
      }
    &::after {
      content: '';
      position: absolute;
      border: 2px solid #fff;
      box-sizing: content-box;
      border-left: 0;
      border-top: 0;
      width: 4px;
      height: 8px;
      left: 5px;
      top: 1px;
      transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
      transform: rotate(45deg) scale(0.2);
      transform-origin: center;
    }
  }
  &.is-disabled {
    color: #bbb;
    cursor: not-allowed;
    & .hui-checkbox__inner {
      background-color: #eef1f6;
      border-color: #d1dbe5;
      cursor: not-allowed;
      &.is-checked {
        background-color: #d1dbe5;
      }
    }
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: -1000;
    opacity: 0;
  }
  &__title {
      font-size: 14px;
  }
}

.hui-checkbutton {
  display: inline-block;
  position: relative;
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: -1000;
    opacity: 0;
  }
  &--large {

  }
  &--small {

  }
  &.is-disabled {

  }
  &.is-checked .hui-checkbutton__inner{
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
  }
  &.is-focus {

  }
  &__inner {
    line-height: 1;
    white-space: nowrap;
    border: 1px solid #bfcbd9;
    border-left: 0;
    color: #1f2d3d;
    margin: 0;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 0;
  }
  &:first-child .hui-checkbutton__inner {
    border-left: 1px solid #bfcbd9;
    border-radius: 4px 0 0 4px;
  }
  &:last-child .hui-checkbutton__inner {
    border-radius: 0 4px 4px 0;
  }
}