$primary-color: #bfcbd9;

.hui-tree {
  display: inline-block;
  position: relative;
  &-container {
    position: relative;
    max-width: 600px;
    text-align: center;
    border: 1px solid $primary-color;
    border-radius: 8px;
    padding: 4px 5px;
  }
  &-input {
    width: 95%;
  }
  &-wrapper {
    width: 95%;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid $primary-color;
    border-radius: 8px;
    padding-left: 20px;
  }
  &-node {
    line-height: 36px;
    text-align: left;
    position: relative;
    &__title, .hui-checkbox {
      vertical-align: middle;
    }
    &__title {
      margin-left: 10px;
    }
    &__extend {
      position: absolute;
      right: 15px;
      display: inline-block;
    }
  }
}