@import '../../style/core/theme/theme.scss';
@import 'styles/core/variables/variables.scss';


.hui-tree {
  display: inline-block;
  position: relative;
  &-container {
    position: relative;
    max-width: 600px;
    text-align: center;
    border: 1px solid $color-input-border;
    border-radius: 8px;
    padding: 10px 5px;
  }
  &-input {
    width: 95%;
  }
  &-wrapper {
    width: 95%;
    display: inline-block;
    margin-top: 10px;
    min-height: 500px;
    border: 1px solid $color-input-border;
    border-radius: 8px;
  }
  &-node {
    line-height: 36px;
    text-align: left;
    position: relative;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
    &.is-active {
      background-color: $color-table-hover;
    }
    &:hover {
      background-color: $color-tag-background;
    }
    .hui-icon-caret-down {
      vertical-align: middle;
      margin-right: 7px;
    }
    &__title, .hui-checkbox {
      vertical-align: middle;
    }
    &__title {
      margin-left: 3px;
      .highLight {
        color: $color-brand;
      }
    }
    &__extend {
      position: absolute;
      right: 15px;
      display: inline-block;
    }
  }
  &-loading {
    color: $color-brand;
    margin-right: 5px;
    font-size: 12px;
    vertical-align: middle;
    animation-name: rotating;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  &__empty {
    width: 200px;
    height: 100px;
    font-size: 14px;
    line-height: 1;
    color: $color-tag-border;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}