.hui-menu {
  position: relative;
  border-radius: 2px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: #eef1f6;
  &::after, &::before {
    display: table;
    content: "";
  }
  &--dark {
    background-color: #324157;
    .hui-submenu {
      .hui-menu {
        background-color: #1f2d3d;
        &__item:hover {
          background-color: #d1dbe5;
        }
      }
    }
  }
  &__item {
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    color: #48576a;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    transition: border-color .3s,background-color .3s,color .3s;
    box-sizing: border-box;
    white-space: nowrap;
    &:hover {
      background-color: #d1dbe5;
    }
    &.is-active {
      color: #20a0ff;
    }
    &:first-child {
      margin-left: 0;
    }
    .hui-submenu__title {
      height: 56px;
      line-height: 56px;
      font-size: 14px;
      color: #48576a;
      padding: 0 20px;
      cursor: pointer;
      position: relative;
      transition: border-color .3s,background-color .3s,color .3s;
      box-sizing: border-box;
      white-space: nowrap;
    }
  }
  &--horizontal {
    .hui-menu__item {
      float: left;
      height: 60px;
      line-height: 60px;
      margin: 0;
      cursor: pointer;
      position: relative;
      box-sizing: border-box;
      border-bottom: 5px solid transparent;
    }
    .hui-submenu {
      float: left;
      position: relative;
      &:hover {
        .hui-submenu__title {
          border-bottom: 5px solid #20a0ff;
        }
      }
      .hui-submenu__title {
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid transparent;
        &.is-active {
          border-bottom: 5px solid #20a0ff;
        }
      }
      .hui-submenu__icon {
        font-size: 12px;
        position: static;
        vertical-align: middle;
        margin-left: 5px;
        color: #97a8be;
        margin-top: -3px;
        transition: all 0.3s linear;
      }
      & > .hui-menu {
        position: absolute;
        top: 65px;
        left: 0px;
        border: 1px solid #d1dbe5;
        padding: 5px 0;
        background-color: #fff;
        z-index: 100;
        min-width: 100%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
      }
      .hui-menu__item:hover {
        background-color: #d1dbe5;
      }
    }
  }
  li {
    list-style: none;
  }
  &-item-group {
    &__title {
      padding-top: 15px;
      line-height: normal;
      font-size: 14px;
      padding-left: 20px;
      color: #97a8be;
    }
  }
}

.hui-submenu {
  &__title {
    position: relative;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    color: #48576a;
    padding: 0 20px;
    cursor: pointer;
    transition: border-color .3s,background-color .3s,color .3s;
    box-sizing: border-box;
    white-space: nowrap;
    &.is-active {
      border-bottom: 5px solid #20a0ff;
    }
    &:hover {
      background-color: #d1dbe5;
    }
  }
  .hui-menu {
    background-color: #eef1f6;
  }
  .hui-menu__item {
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    min-width: 200px;
    &:hover {
      background-color: #d1dbe5;
    }
  }
  &.is-opened > .hui-submenu__title .hui-submenu__icon {
    transform: rotateZ(180deg);
  }
}