.hui-card {
  border: 1px solid #d1dbe5;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
  &__header {
    padding: 18px 20px;
    border-bottom: 1px solid #d1dbe5;
    box-sizing: border-box;
  }
  &__content {
    padding: 20px;
  }
}