@keyframes hui-skeleton-loading {
  from {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes enter {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes leave {
  from {
    top: 20px;
    opacity: 1;
  }
  to {
    top: 0px;
    opacity: 0;
  }
}