.is-disabled {
  display: none;
}
.is-visible {
  display: block;
}
.hui-fade-in-linear-enter-active, .hui-fade-in-linear-leave-active, .fade-in-linear-enter-active, .fade-in-linear-leave-active {
  transition: opacity 0.2s linear;
}

.hui-slider-enter-active, .hui-slider-leave-active, .slider-enter-active, .slider-leave-active {
  transition: all .4s linear; 
}

.hui-zoom-in-top-enter-active, .zoom-in-top-enter-active, .hui-zoom-in-top-leave-active, .zoom-in-top-leave-active  {
  transition: all .4s linear; 
  transform-origin: center top;
}

.fade-in-linear-enter {
  opacity: 0;
}

.fade-in-linear-enter-to {
  opacity: 1;
}

.fade-in-linear-leave {
  opacity: 1;
}

.fade-in-linear-leave-to {
  opacity: 0;
}

.slider-enter {
  top: 10%;
}

.slider-enter-to {
  top: 20%;
}

.slider-leave {
  top: 20%;
  opacity: 1;
}

.slider-leave-to {
  top: 10%;
  opacity: 0;
}

.zoom-in-top-enter {
  transform: scaleY(0);
  opacity: 0;

}

.zoom-in-top-enter-to {
  transform: scaleY(1);
  opacity: 1;
}

.zoom-in-top-leave {
  transform: scaleY(1);
  /* opacity: 1; */
}

.zoom-in-top-leave-to {
  transform: scaleY(0);
  /* opacity: 0; */
}