.hui-rate {
  height: 20px;
  line-height: 1;
  &__item {
    font-size: 0;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  &__star {
    position: relative;
    font-size: 18px;
    margin-right: 6px;
    color: #bfcbd9;
    transition: .3s;
    &.hover {
      transform: scale(1.15);
    }
  }
  &__decimal {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__text {
    font-size: 14px;
    vertical-align: middle;
  }
}