.hui-radio {
  position: relative;
  display: inline-block;
  color: #1f2d3d;
  cursor: pointer;
  white-space: nowrap;
  &__icon {
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;
    &.is-checked .hui-radio__inner {
      background-color: #50bfff;
      border: 1px solid #50bfff;
    }
    &.is-disabled {
      display: inline-block;
      .hui-radio__inner {
        background-color: #eef1f6;
        border-color: #d1dbe5;
        cursor: not-allowed;
        &::after {
          background-color: #eef1f6;
        }
      }
      .hui-radio__input {
        pointer-events: none;
      }
      &+.hui-radio__title {
        color: #d1dbe5;
        cursor: not-allowed;
      }
    }
  }
  &__inner {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #bfcbd9;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      margin-left: -3px;
      margin-top: -3px;
      background-color: #fff;
      transition: transform .15s cubic-bezier(.71,-.46,.88,.6);
    }
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
  }
  &__title {
    font-size: 14px;
    padding-left: 5px;
  }
}

.hui-radio-group {
  display: inline-block;
  position: relative;
}

.hui-radio-button {
  display: inline-block;
  position: relative;
  &__wrap {
    padding: 10px 15px;
    border: 1px solid #bfcbd9;
    cursor: pointer;
    font-size: 14px;
    border-left: 0;
    white-space: nowrap;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    border-radius: 0;
    &.is-disabled {
      color: #bfcbd9;
      cursor: not-allowed;
      background-image: none;
      background-color: #eef1f6;
      border-color: #d1dbe5;
      box-shadow: none;
    }
    &.is-checked {
      color: #ffffff;
      background-image: none;
      background-color: #50bfff;
      border-color: #50bfff;
      box-shadow: none;
    }
  }
  &__input {
    opacity: 0;
    outline: 0;
    position: absolute;
    z-index: -1;
    left: -999px;
  }
  &:first-of-type(1) .hui-radio-button__wrap {
    border-left: 1px solid #bfcbd9;
    border-radius: 4px 0px 0px 4px;
  }
  &:last-child .hui-radio-button__wrap {
    border-radius: 0px 4px 4px 0px;
  }
}