$table-font-size: 12px;
$table-radius: 0;
$table-text-color: #333333;
$table-top-border-color: #505766;
$table-noData-text-color: #999999;
$table-background-color: #ffffff;
$table-border-color: #f0f0f0;
$table-header-background-color: #f8f9fd;
$table-row-height: 40px;
$table-row-background-color: #ffffff;
$table-row-hover-background-color: #edf1f7;
$table-row-checked-background-color: #edf1f7;
$table-resizable-handle-color: #505766;
/* 固定列 */
$table-fixed-left-boxShadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.2);
$table-fixed-right-boxShadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.2);
/* 自定义列相关 */
$table-filter-background-color: #fff;
$table-filter-row-background-color: #fff;
$table-filter-row-hover-background-color: #f3f5f9;
$table-filter-recover-color: #588ce9;
$table-filter-hover-recover-color: #91bcff;

.hui-table {
  width: 100%;
  font-size: $table-font-size;
  color: $table-text-color;
  position: relative;
  box-sizing: content-box;
  background: $table-background-color;
  border-radius: $table-radius;
  border-top: 1px solid $table-top-border-color;

  &-pagination {
    &:after {
      display: block;
      clear: both;
      content: "";
      visibility: hidden;
      height: 0;
    }
    &-content,
    &-content-left {
      margin: 10px 0;
    }
    &-content-center {
      margin: 10px 0;
      text-align: center;
    }
    &-content-right {
      margin: 10px 20px 10px 0;
      float: right;
    }
  }

  &-expand {
    max-height: 300px;
    border-bottom: 1px solid $table-border-color;
    background: #dfe1e6;
  }

  &--bordered {
    border: 1px solid $table-border-color;
    border-top: 1px solid $table-top-border-color;
  }

  &-header,
  &-row {
    height: $table-row-height;
    line-height: 18px;
  }

  &-scroll {
    .hui-table-header-shadow {
      z-index: 30;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
      height: 6px;
      position: absolute;
      width: 100%;
      top: 40px;
    }

    .hui-table-nodata {
      width: 100%;
      position: absolute;
      top: 40%;
      left: 0;
      text-align: center;
      color: $table-noData-text-color;
      img {
        width: 80px;
      }
    }
  }

  &-header {
    font-weight: 700;
    overflow: hidden;
    border-bottom: 1px solid $table-border-color;
    background: $table-header-background-color;

    div {
      height: inherit;
    }

    .hui-table-cell {
      border-bottom: 1px solid $table-border-color;
      background: $table-header-background-color;
    }
    &.header-rolled {
      border-bottom: none;
      .hui-table-cell {
        border-bottom: none;
      }
    }
  }

  &-body {
    overflow: auto;

    .hui-table-row {
      transition: 0.1s linear;
      position: relative;

      .hui-table-cell {
        border-bottom: 1px solid $table-border-color;
        background: $table-row-background-color;
      }

      &.is-selected {
        .hui-table-cell {
          background: $table-row-checked-background-color;
        }
        &:hover {
          .hui-table-cell {
            background: $table-row-checked-background-color;
          }
        }
      }

      &:hover {
        .hui-table-cell {
          background: $table-row-hover-background-color;
        }
      }
    }
  }

  &-cell {
    /* display: inline-block; */
    float: left;
    height: inherit;
    line-height: inherit;
    text-align: left;
    padding: 10px;
    position: relative;

    &-content {
      display: block;
      height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.hui-table-bordered {
      border-left: 1px solid $table-border-color;
      &:first-child {
        border-left: none;
      }
    }

    &.hui-table-cell-padding-none {
      padding: 0;
    }

    span.hui-table-select-column {
      width: 16px !important;
      height: 16px !important;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      /* 复选单选框样式修改 */
      .custom-checkbox,
      .custom-radio {
        display: block;
        padding: 0;
      }
    }

    &.hui-table-hold-cell {
      padding: 0;
      border-left: none;
    }

    &.hui-table-expand-cell {
      padding: 0;
      .hui-icon {
        padding: 0;
        height: 20px;
        line-height: 20px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        i {
          margin: 0;
          font-size: 18px;
          transition: all 0.2s linear;
        }
        &.fold_icon {
          i {
            transform: rotate(180deg);
          }
        }
      }
    }

    &.hui-table-cell-fixed-left {
      position: sticky;
      left: 0;
      z-index: 2;
      &.hui-table-cell-fixed-left-last {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: -1px;
          width: 20px;
          transform: translateX(100%);
          pointer-events: none;
          transition: box-shadow 0.3s;
        }
      }
    }
    &.hui-table-cell-fixed-right {
      position: sticky;
      right: 0;
      z-index: 2;
      /* 兼容处理，浏览器会出现一像素黑色竖线 */
      box-shadow: 1px 0px $table-row-background-color;
      &.hui-table-cell-fixed-right-first {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: -1px;
          width: 20px;
          transform: translateX(-100%);
          pointer-events: none;
          transition: box-shadow 0.3s;
        }
      }
    }

    .react-resizable-handle {
      height: 100%;
      width: 4px;
      top: 0;
      bottom: 0;
      right: 0;
      cursor: col-resize;
      background: transparent;
      transition: all 0.1s linear;

      &:hover,
      &:focus {
        background: $table-resizable-handle-color;
      }
    }
  }
  &-ping-left {
    .hui-table-cell-fixed-left {
      &-last {
        &.bordered {
          border-right: 1px solid transparent;
        }
        &:after {
          box-shadow: $table-fixed-left-boxShadow;
        }
      }
    }
  }
  &-ping-right {
    .hui-table-cell-fixed-right {
      &-first {
        &.bordered {
          border-left: 1px solid transparent;
        }
        &:after {
          box-shadow: $table-fixed-right-boxShadow;
        }
      }
    }
  }
  &-filter-column {
    position: absolute;
    right: 0;
    background: $table-header-background-color;
    border-bottom: 1px solid $table-border-color;
    height: $table-row-height;
    top: 0;
    z-index: 10;
    &.header-rolled {
      border-bottom: none;
    }
    //   .yon-tooltip-child {
    //     .react-btn {
    //       height: $table-row-height;
    //       line-height: $table-row-height;
    //       i {
    //         font-size: 16px;
    //         margin: 0;
    //       }
    //     }
    //   }
  }
  /* 行操作区域 */
  &-hover-action {
    position: absolute;
    top: 0;
    z-index: 10;
    right: 0;
    height: 39px;
    background: $table-row-hover-background-color;
    padding: 0 5px;
    float: left;

    &.row-selected {
      background: $table-row-checked-background-color;
    }

    &-content {
      height: inherit;
      float: left;

      &.hide-content {
        display: none;
      }
    }
    &-fold {
      height: inherit;
      float: right;

      button {
        height: inherit;
        line-height: inherit;
        padding: 0;
      }
    }
  }
  &-drag-line {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    border-left: 1px dashed $table-resizable-handle-color;
    z-index: 4;
    &.dragging-hide {
      display: none;
    }
    &.dragging-show {
      display: block;
    }
  }
  /**
   * 表头过滤表格样式
   */
  &-filter {
    padding-top: 10px;
    background: $table-filter-background-color;
    min-width: 238px;
    &__table {
      max-height: 259px;
      min-height: auto;
      overflow-y: hidden;
    }
    &__search {
      display: inline-block;
      width: 100%;
      margin-top: 5px;
      padding: 0 15px !important;
      .serach-container {
        position: relative;
        .search-input {
          padding: 0 45px 0 8px;
        }
        .serach-btn {
          position: absolute;
          right: 0;
          padding: 0;
          height: 32px;
          line-height: 32px;

          i {
            font-size: 16px;
            width: 16px;
          }
        }
      }
    }
    &__list {
      height: 100% !important;
      text-align: left;
      max-height: 213px;
      margin: 6px 0;
      overflow: auto;
      &-item {
        width: 230px;
        height: 32px !important;
        line-height: 32px !important;
        padding: 0 15px;
        transition: 0.3s linear;
        background: $table-filter-row-background-color;
        .item-left {
          float: left !important;
          width: 180px;
          label {
            width: 100%;
            height: inherit;
            margin: 0;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            cursor: pointer;
          }
          .hui-checkbox {
            width: 28px;
          }
        }
        .item-right {
          float: right;
        }
        &:hover {
          background: $table-filter-row-hover-background-color;
        }
      }
      &-noData {
        span {
          display: block;
          margin-top: 30px;
          margin-left: 18px;
          line-height: 50px;
          color: $table-noData-text-color;
        }
      }
    }
    &__btns {
      border-top: 1px solid $table-border-color;
      height: 43px;

      &-recover-default {
        float: right;
        line-height: 20px;
        padding-left: 16px;
        margin: 10px 10px 0 0;
        color: $table-filter-recover-color;
        cursor: pointer;

        &:hover {
          color: $table-filter-hover-recover-color;
        }
      }
    }
  }
  &-more {
    padding: 0px 5px;
    height: 40px;
    line-height: 40px;
    border: none;
    background: #f8f9fd;
  }
}
