// List Icons
// -------------------------

.#{$hui-icon-css-prefix}-ul {
  padding-left: 0;
  margin-left: $hui-icon-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$hui-icon-css-prefix}-li {
  position: absolute;
  left: -$hui-icon-li-width;
  width: $hui-icon-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$hui-icon-css-prefix}-lg {
    left: -$hui-icon-li-width + (4em / 14);
  }
}
