/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$hui-icon-font-path}/fontawesome-webfont.eot?v=#{$hui-icon-version}');
  src: url('#{$hui-icon-font-path}/fontawesome-webfont.eot?#iefix&v=#{$hui-icon-version}') format('embedded-opentype'),
    url('#{$hui-icon-font-path}/fontawesome-webfont.woff2?v=#{$hui-icon-version}') format('woff2'),
    url('#{$hui-icon-font-path}/fontawesome-webfont.woff?v=#{$hui-icon-version}') format('woff'),
    url('#{$hui-icon-font-path}/fontawesome-webfont.ttf?v=#{$hui-icon-version}') format('truetype'),
    url('#{$hui-icon-font-path}/fontawesome-webfont.svg?v=#{$hui-icon-version}#fontawesomeregular') format('svg');
//  src: url('#{$hui-icon-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
