.hui-cascader {
  display: inline-block;
  position: relative;
  &__label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 36px;
    padding: 0 25px 0 10px;
    color: #1f2d3d;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
  }
  &-menus {
    white-space: nowrap;
    background: #fff;
    position: absolute;
    margin: 5px 0;
    border: 1px solid #d1dbe5;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
  }
  &-menu {
    display: inline-block;
    vertical-align: top;
    height: 204px;
    overflow: auto;
    border-right: solid 1px #d1dbe5;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 6px 0;
    min-width: 160px;
    &__item {
      font-size: 14px;
      padding: 8px 30px 8px 10px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #48576a;
      height: 36px;
      line-height: 1.5;
      box-sizing: border-box;
      cursor: pointer;
      &.is-active, &:hover {
        color: #fff;
        background-color: #20a0ff;
      }
      &.is-disabled {
        color: #fff;
        background-color: #f7f7f7;
      }
    }
  }
  .hui-input__icon {
    position: absolute;
    right: 0;
    left: auto;
  }
}