.hui-divider {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.65);
  list-style: none;
  line-height: 1;
  white-space: nowrap;
  border-top: 1px solid #f0f0f0;
  &-horizontal {
    display: flex;
    width: 100%;
    margin: 24px 0;
    clear: both;
    &.hui-divider-with-text {
        display: flex;
        margin: 0 8px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        color: rgba(0,0,0,.85);
        border-top: 0px;
        &::before, &::after {
            content: '';
            width: 50%;
            top: 50%;
            position: relative;
            border-top: 1px solid #f0f0f0;
            transform: translateY(50%);
        }
    }
    &.hui-divider-text-left::before {
      top: 50%;
      width: 10%;
    }
    &.hui-divider-text-left::after {
      top: 50%;
      width: 90%;
    }
    &.hui-divider-text-right::before {
      top: 50%;
      width: 90%;
    }
    &.hui-divider-text-right::after {
      top: 50%;
      width: 10%;
    }
  }
  &-vertical {
    display: inline-block;
    position: relative;
    height: .9em;
    margin: 0 8px;
    vertical-align: middle;
    border-top: 0;
    border-left: 1px solid #f0f0f0;
  }
  &-dashed {
    background-color: white;
    border-color: #f0f0f0;
    border-width: 1px 0px 0px 0px;
    border-style: dashed;
  }
  &-text-inner {
    display: inline-block;
    padding: 0 1em;
  }
  &-plain &-text-inner {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,.65);
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3)  {
  .hui-divider {
    border-width: 0.3333333px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2)  {
  .hui-divider {
    border-width: 0.5px;
  }
}