@import '../../style/core/theme/theme.scss';

.hui-alert {
  width: 100%;
  padding: 8px 16px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  color: #fff;
  display: table;
  &--success {
    background-color: $success-color;
  }
  &--info {
    background-color: $primary-color;
  }
  &--warning {
    background-color: $warning-color;
  }
  &--error {
    background-color: $error-color;
  }
  &__icon {
    font-size: 16px;
    width: 16px;
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    &.hui-icon {
      display: table-cell;
    }
  }
  &__content {
    display: inline-block;
    padding: 0 8px;
    line-height: 30px;
  }
  &__title {
    font-size: 13px;
    vertical-align: middle;
  }
  &__description {
    color: #fff;
    font-size: 12px;
    margin: 5px 0 0;
  }
  &__close {
    font-size: 18px;
    color: #fff;
    opacity: 1;
    top: 6px;
    right: 10px;
    position: absolute;
    cursor: pointer;
  }
}
.is-big {
  font-size: 25px !important;
  width: 28px;
}
.is-bold {
  font-weight: 700;
}
.is-customed {
  font-style: normal;
  font-size: 13px;
  top: 15px;
}