.yon-row {
  box-sizing: border-box;
  overflow: auto;
  &::before, &::after {
    display: table;
  }
  &--flex {
    display: flex;
  }
  &--end {
    justify-content: end;
  }
  &--center {
    justify-content: center;
  }
  &--space-around {
    justify-content: space-around;
  }
  &--space-between {
    justify-content: space-between;
  }
  &--start {
    justify-content: start;
  }
  &--baselne {
    align-items: baseline;
  }
  &--stretch {
    align-items: stretch;
  }
  &--middle {
    align-items: center;
  }
  &--bottom {
    align-items: flex-end;
  }
}